/* 
    Document   : estilosMovil
    Created on : 25/04/2013, 12:50:44 AM
    Author     : Starforce
    Description:
        Purpose of the stylesheet follows.
*/

/* Smartphones (portrait and landscape) ----------- */
/* Styles */

body{
    background-color: yellow;
    border: 10px solid black;
}

    

